{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/fetch.css') }}">
{% endblock stylesheets %}

{% if data['result'] is defined %}
    {% set data = data['result'] %}
{% endif %}

{% if yesturday_data['result'] is defined %}
    {% set yesturday_data = yesturday_data['result'] %}
{% endif %}

{% block body %}

<style>
    
</style>
{% if data['error'] is defined %}
    <p class="error">Сталась помилка: {{ data['error'] }}</p>
{% else %}
    {% if req['cur'] %}
        {% for i in data if i['cc']|lower == req['cur']|lower %}
            {# {{ i['txt'] }} -- {{ i['cc'] }} -- {{ i['rate'] }} #}
            {{ i|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}
        {% else %}
            <p style="color:red;">Такої валюти не існує</p>
        {% endfor %}
    {% else %}
    <table>
        <caption>Your date</caption>
        <tr>
            <th>txt</th>
            <th>cc</th>
            <th>rate</th>
        </tr>
        {% for i in data %}
            <tr>
                <td>{{ i['txt'] }}</td>
                <td>{{ i['cc'] }}</td>
                <td>{{ i['rate'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if yesturday_data is defined %}
    <table>
    <caption>Yesturday</caption>
         <tr>
            <th>txt</th>
            <th>cc</th>
            <th>rate</th>
        </tr>
        {% for i in yesturday_data %}
            <tr>
                <td>{{ i['txt'] }}</td>
                <td>{{ i['cc'] }}</td>
                <td>{{ i['rate'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endif %}
{% endif %}
{% endblock body %}