{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}" />
{% endblock stylesheets %}

{% block body %}

<div class="docs_text">
  <h2>Як користуватись сервісом?</h2>
  <p>
    Для того, щоб фільтрувати по даті - запишіть після посилання ?date=дата,
    де дата - це дата, на яку ви хочете дізнатись курс валюти
    у форматі РРРР-ММ-ДД;
  </p>
  <p>
    Для фільтрації по валюті - впишіть ?currency=ВАЛ, де ВАЛ - 
    це скорочений запис валют (шукайте всі доступні валюти нижче)
  </p>
  <p>
    Для того, щоб отримати "чистий" JSON - додайте ?format=json або додайте заголовок "Accept: application/json" 
  </p>
  <p>
    Запити можна об'єднувати за допомогою значка &
    Наприклад <a href="{{ app.request.getSchemeAndHttpHost() }}/fetch/?currency=usd&date=20181008">{{ app.request.getSchemeAndHttpHost() }}/fetch/?currency=usd&date=20181008</a>
    <br />
    Або <a href="{{ app.request.getSchemeAndHttpHost() }}/fetch/?currency=usd&date=20181008&format=json">{{ app.request.getSchemeAndHttpHost() }}/fetch/?currency=usd&date=20181008&format=json</a>
  </p>
</div>
{% endblock body %}