{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/logs_index.css') }}" />
{% endblock stylesheets %}

{% block body %}

<table>
    <tr>
        <th>IP</th>
        <th>Datetime</th>
        <th>API NBU Status Code</th>
        <th>NBU Query</th>
        <th>Query</th>
    </tr>
{% for log in logs %}
    <tr>
        <td>{{ log.getUserIp }}</td>
        <td>{{ log.getDatetime|date("Y-m-d H-i-s") }}</td>
        <td>{{ log.getStatusCode }}</td>
        <td>{{ log.getForeignQueryName }}</td>
        <td>{{ log.getQueryName }}</td>
    </tr>
{% endfor %}
</table>

Pages: 
{% for i in range(1, count) %}
    {% if i == page %}
        {{ i }}
    {% else %}
        <a href="{{ path('log_index', {'page': i}) }}">{{ i }}</a>
    {% endif %}
{% endfor %}
{% endblock body %}